bin/
/db
.ecplise
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
.cache
.history
/dist/
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
